<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h4>Add customer</h4>
      </div>
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.controls.students.value)">
        <!--addresses-->
        <div formArrayName="students">
          <div *ngFor="let address of myForm.controls.students.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Address {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.students.controls.length > 1" (click)="removeAddress(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-xs-6">
                <label>firstName</label>
                <input type="text" class="form-control" formControlName="firstName">
                <small [hidden]="myForm.controls.students.controls[i].controls.firstName.valid" class="text-danger">
                    Street is required
                </small>
              </div>
              <div class="form-group col-xs-6">
                <label>lastName</label>
                <input type="text" class="form-control" formControlName="lastName">
              </div>
            </div>
          </div>
        </div>

        <div class="margin-20">
          <a (click)="addStudent()" style="cursor: default">
            Add another student +
          </a>
        </div>

        <div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>

        <div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
          <pre>form value: <br>{{myForm.value | json}}</pre>
        </div>
      </form>
    </div>
  </div>
</div>